@(sistemaPlanejamento: controllers.Planejamento, formTask:Form[models.Task])

@import helper._ 
@main("Planejamento de Curso - CCC") {

<font color="#FFFFFF"> 
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/main.css">
	</head>

	<body>
		<header>
			<h1 id="nome-principal">Planejamento de Curso - CCC</h1>

			<div class="addPeriodo">@form(routes.Application.criaPeriodo()) {
				<button type="submit" class="btn btn-large btn-primary" type="button">Adicionar Periodo</button>
			}
			</div>
			<br><br>
			<div class="addDisciplina">
			  @form(routes.Application.adicionaDisciplinaEmPeriodo()){
				 @if(sistemaPlanejamento.getPeriodos.size() > 1) {
				         <nome> Adicionar Disciplina em Periodo :</nome>
				                <select class="selectpicker" data-live-search="true" name="inputNameDisc" >
				                @for(disciplina <-  sistemaPlanejamento.getCurriculo().getListaDeDisciplinas()) {
				                	@if(!sistemaPlanejamento.estaAlocada(disciplina)){
				                     <option value="@disciplina.getNomeDaDisciplina()" name="inputNameDisc" >@disciplina.getNomeDaDisciplina()</option>
				                     }
				                }
				        </select>
				        <select class="selectpicker" data-width="100px" name="idPeriodo" >
				            @for(periodo <- sistemaPlanejamento.getPeriodos()) {
				                 @if(sistemaPlanejamento.getPeriodos().indexOf(periodo) != 0) {
				                      <option value=@(sistemaPlanejamento.getPeriodos().indexOf(periodo)) name="idPeriodo" >@(sistemaPlanejamento.getPeriodos().indexOf(periodo)+1)</option>
				                 }
				            }
				        </select><button type="submit" class="btn btn-primary" type="button">Adicionar Disciplina</button>                
				 }
			  }
			  </div>
      </header>
		<div class="removeDisciplina">
		@form(routes.Application.removeDisciplinaPeriodo()){
			@if(sistemaPlanejamento.getPeriodos.size() > 1) {
		    	<select class="selectpicker" data-live-search="true" name="inputNameDisc" >
		            @for(disciplina <- sistemaPlanejamento.getCurriculo().getListaDeDisciplinas()) {
		            	@if(sistemaPlanejamento.estaAlocada(disciplina) && !sistemaPlanejamento.getPeriodos().get(0).getListaDeDisciplinas().contains(disciplina)){
		        	         <option value="@disciplina.getNomeDaDisciplina()" name="inputNameDisc">@disciplina.getNomeDaDisciplina()</option>
			             }
		            }
		        </select><button type="submit" class="btn btn-primary" type="button">Remover Disciplina</button>
			}
		}</div>
		<br>
		<section class="planejamento">
			<!-- tabela com as disciplinas e o calculd do total de creditos de qualquer periodo-->
			<table>
				@for(periodo <- sistemaPlanejamento.getPeriodos()){
					<th class="titulo">@(sistemaPlanejamento.getPeriodos.indexOf(periodo)+1)º PERÍODO </th>
						@for(disciplina <- sistemaPlanejamento.getDisciplinasDadoPeriodo(sistemaPlanejamento.getPeriodos.indexOf(periodo))){
							<tr><td class="disciplina">@disciplina.getNomeDaDisciplina()</tr>
						} 
						<tr><td class="numero">Total de Créditos No Período: @periodo.calculaTotalDeCreditos()</tr></td><br><br>
				 }   
		</section> 
		<footer class="curriculo">	
			<!-- mostra lista todas as disciplinas e seus respectivos creditos -->
			<table class="table table-bordered">
				<TH> Nome da disciplina</TH><TH> Créditos </TH> <TH> Pré-Requisitos</TH>
				@for(disciplina <- sistemaPlanejamento.getCurriculo().getListaDeDisciplinas()){	
					<TR><TD> @disciplina.getNomeDaDisciplina()</td><td> @disciplina.getCreditos()</td><td>@disciplina.getPreRequisitos()</TD></TR> 

			}       
		   	</table>
		</footer>        
	</body>
</font>
}

