@(sistemaPlanejamento: controllers.Planejamento, formTask:Form[models.Task])
 
 @import helper._ 
 @main("Planejamento de Curso - CCC") {

 <font color="#FFFFFF"> 
<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../public/stylesheets/main.css">
	</head>

	<body background="../public/images/background.jpg">
	<table>
	
	<!-- calcula o total de creditos de qualquer periodo-->
	@for(periodo <- sistemaPlanejamento.getPeriodos()){
	<th class="cabeçalho">@(sistemaPlanejamento.getPeriodos.indexOf(periodo)+1)º PERIODO </th>
		<tr><td>			
        @for(disciplina <- sistemaPlanejamento.getDisciplinasDadoPeriodo(sistemaPlanejamento.getPeriodos.indexOf(periodo))){
        	<tr><td>			
					@disciplina.getNomeDaDisciplina()
				</td><td class="numero">@disciplina.getCreditos() Créditos</td>
				</tr>
        } 
        <tr><td class="numero">Total de Créditos No Período: </td><td>@periodo.calculaTotalDeCreditos()</tr></td>
        
     
     }   

	<!-- mostra lista todas as disciplinas e seus respectivos creditos -->
	<table class="table table-bordered">
		<TH> Nome da disciplina</TH><TH> Créditos </TH> <TH> Pre-Requisitos</TH>
		@for(disciplina <- sistemaPlanejamento.getCurriculo().getListaDeDisciplinas()){	
		
			<TR><TD> @disciplina.getNomeDaDisciplina()</td><td> @disciplina.getCreditos()</td><td>@disciplina.getPreRequisitos() </TD></TR> 
	
	} 
	
	  @form(routes.Application.criaPeriodo()) {
                @if(sistemaPlanejamento.getPeriodos.size() > 1) {
                  <button type="submit" class="btn btn-large btn-primary disabled" type="button" disabled="disabled">Adicionar Periodo</button>
        	     } else {
                  <button type="submit" class="btn btn-large btn-primary" type="button">Adicionar Periodo</button>
                 }
        }
        
                        <br>
       <div id="addDisciplina">
      @form(routes.Application.adicionaDisciplinaEmPeriodo()){
         @if(sistemaPlanejamento.getPeriodos.size() > 1) {
                 <br>
                 <nome> Adicionar Disciplina em Periodo :</nome>
                        <br>
                        <select class="selectpicker" data-live-search="true" name="inputNameDisc" >
                        @for(disciplina <-  sistemaPlanejamento.getCurriculo().getListaDeDisciplinas()) {
                             <option value="@disciplina.getNomeDaDisciplina()" name="inputNameDisc" >@disciplina.getNomeDaDisciplina()</option>
                        }
                </select>
                <br>
                <select class="selectpicker" data-width="100px" name="idPeriodo" >
                    @for(periodo <- sistemaPlanejamento.getPeriodos()) {
                         @if(sistemaPlanejamento.getPeriodos().indexOf(periodo) != 0) {
                              <option value=@(sistemaPlanejamento.getPeriodos().indexOf(periodo)) name="idPeriodo" >@(sistemaPlanejamento.getPeriodos().indexOf(periodo)+1)</option>
                         }
                    }
                </select>
                
                <button type="submit" class="btn btn-primary" type="button">Adicionar Disciplina</button>                
         }
      }
      </div>
      
    <div id="removeDisciplina">
	@form(routes.Application.removeDisciplinaPeriodo()){
		@if(sistemaPlanejamento.getPeriodos.size() > 1) {
		  <br>
          <nome> Remove Disciplina do Periodo :</nome>
          <br>
           <select class="selectpicker" name="idPeriodo">
		   @for(periodo <- sistemaPlanejamento.getPeriodos()){
				 @if(sistemaPlanejamento.getPeriodos().indexOf(periodo) != 0) {
                      <option value=@(sistemaPlanejamento.getPeriodos().indexOf(periodo)) name="idPeriodo" >@(sistemaPlanejamento.getPeriodos().indexOf(periodo)+1)</option>
                 }
		   
		  </select>
          <select class="selectpicker"  name="inputNameDisc" >
              @for(disciplina <- sistemaPlanejamento.getDisciplinasDadoPeriodo(sistemaPlanejamento.getPeriodos.indexOf(periodo))){
                    <option value="@disciplina.getNomeDaDisciplina()" name="inputNameDisc" >@disciplina.getNomeDaDisciplina()</option>
                }
          </select>
           <br>
		 }
		<button type="submit" class="btn btn-primary" type="button">Remover</button>
    	}
	}</div>
      
        
        	</table>
	</body>
	</font>
}

